body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/*.carrusel {
    width: 70%;
    height: 50%;
    overflow: hidden;
    position: relative;
    display:flex;
    justify-content: space-between;
}

.carrusel-items {
    display: flex;
     width: 100%; Ajusta según el número de imágenes 
    transition: transform 0.5s ease;
}

.carrusel-item {
    min-width: 190%;
    box-sizing: border-box;
}

.carrusel-item img {
    width: 90%;
    display: block;
}

@keyframes slide {
    0% { transform: translateX(0); }
    20% { transform: translateX(-100%); }
    40% { transform: translateX(-200%); }
    60% { transform: translateX(-300%); }
    80% { transform: translateX(-400%); }
    100% { transform: translateX(-500%); }
}

.carrusel-items {
    animation: slide 10s infinite;
}*/



/* Estilo para la barra de navegación */
.menu {
    background-color: #333; /* Color de fondo del menú */
    overflow: hidden; /* Asegura que el contenido no se desborde */
}

.menu ul {
    list-style-type: none; /* Quita los puntos de las listas */
    margin: 0;
    padding: 0;
    display: flex; /* Esto hace que los elementos del menú se alineen en una fila */
}

.menu ul li {
    float: left; /* Alinea los elementos a la izquierda (no es necesario con flexbox) */
}

.menu ul li a {
    display: block;
    color: white; /* Color del texto del menú */
    text-align: center;
    padding: 14px 20px; /* Espaciado dentro de los elementos del menú */
    text-decoration: none; /* Quita el subrayado de los enlaces */
}

.menu ul li a:hover {
    background-color: #111; /* Color de fondo al pasar el ratón por encima */
}

/*CARRUSEL*/
.carruseles {
    display: flex; /* Utiliza Flexbox para alinear en fila */
    justify-content: space-between; /* Espacio entre los carruseles */
    gap: 20px; /* Espacio entre los carruseles */
}

.carrusel {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 45%; /* Ancho de cada carrusel */
}

.carrusel-items {
    display: flex; /* Muestra los items en línea */
    overflow-x: hidden; /* Oculta el desbordamiento horizontal */
}

.carrusel-item {
    min-width: 100%; /* Asegura que solo una imagen se vea a la vez */
    transition: transform 0.5s ease-in-out;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.teams{
    display:flex;
    align-items:baseline;
}
.teams-1{
    display: flex;
    justify-content: space-between;
}