<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipo</title>
</head>
<body>
    <div class="teams">
        <img src="https://img.freepik.com/vector-premium/kawaii-abogado-ilustracion-fondo-rojo_942932-10.jpg" alt="">
        <p>Mario MAgaña Aballay Es abogado de la universidad de los Andes, se ha especializado en derecho inmobiliario, derecho penal económico, ambiental y ligitación.</p>
    </div>
    <div class="teams">
        <img src="https://img.freepik.com/vector-premium/kawaii-abogado-ilustracion-fondo-rojo_942932-10.jpg" alt="">
        <p>Claudio Reyes Miranda es abogado de la universidad Miguel de Cervantes, cuenta con vasta experiencia en derecho laboral, derecho de familia y derecho del consumidor.</p>
    </div>
</body>
</html>