<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="menu">
        <ul>
          <li><a href="../views/home.html">Inicio</a></li>
          <li><a href="../views//about.html">Equipo</a></li>
          <li><a href="../views/missionAndVision.html">Contacto</a></li>
          <li><a href="../views/practiced.html">Contacto</a></li>
          <li><a href="../views/notices.html">Contacto</a></li>
          <li><a href="../views/others.html">Contacto</a></li>
          <li><a href="../views/contact.html">Contacto</a></li>
        </ul>
      </nav>
    <div>

    </div>
    <footer>

    </footer>
</body>
</html>