body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: white;
    border-bottom: 1px solid #ddd;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #a30000;
    padding: 15px 0;
    display: block;
}

nav ul li a.active {
    border-bottom: 3px solid #a30000;
}

.main-content {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.left-box, .right-box {
    background-color: white;
    padding: 20px;
    width: 40%;
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* CSS DE FOOTER */
.footer-content {
    background-color: #a30000;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* SECCIÓN DE LOS CONTACTOS */
.contact {
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.contact a {
    display: flex; 
    align-items: center;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.icon {
    width: 30px;
    filter: invert(1) brightness(2); 
    margin-right: 10px; 
}


/* SECCIÓN DE CARRUSEL DE TEXTO */

.carrusel-text{
    background-color: #6ba6ff;
    height: 10vh;
    width: 100vw;
    /* font-family: poppins;
    display: flex;
    justify-content: center;
    align-items: center; */
} 

.phrases{
    overflow: hidden;
}
ul, li {
    color: white;
    list-style: none;
}

ul {
    /* width: 220px;
    height: 70px; */
    position: relative;
    animation: slide 5s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}

li {
    /* position: absolute; */
    /* height: 70px;
    top: 200%; */
    line-height: 70px;
    font-size: 45px;
} 

/* li:first-child {
    top: 100%;
}

li:last-child {
    top: 300%;
} */

@keyframes  slide {
    0% {
        transform: translateY(0);
    }
    15%, 30% {
        transform: translateY(-100%);
    }
    45%, 60% {
        transform: translateY(-200%);
    }
    75%, 90% {
        transform: translateY(-300%);
    }
    100% {
        transform: translateY(-400%);
    }
} {
    0% {
        transform: translateY(0);
    }
    15%, 30% {
        transform: translateY(-100%);
    }
    45%, 60% {
        transform: translateY(-200%);
    }
    75%, 90% {
        transform: translateY(-300%);
    }
    100% {
        transform: translateY(-400%);
    }
}

/* .footer-content .whatsapp-icon {
    width: 30px;
    height: 30px;
    background: url('../img/whatsapp-icon.png') no-repeat center; 
    background-size: contain;
    margin-right: 10px;
} 
*/