<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipo</title>
    <link rel="stylesheet" href="../about/aboutStyle.css"> <!-- Asegúrate de que esta ruta esté correcta -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../home/home.html" >Inicio</a></li>
                <li><a href="../about/about.html" class="active">Equipo</a></li>
                <li><a href="../misionAndVision/missionAndVision.html">Misión y Visión</a></li>
                <li><a href="../practiced/practiced.html">¿Qué hacemos?</a></li>
                <li><a href="../notices/notices.html">Noticias</a></li>
                <li><a href="../others/others.html">Misceláneos</a></li>
                <li><a href="../contact/contact.html">Contáctanos</a></li>
            </ul>
        </nav>
    </header>


    <main>
        <div class="teams">
            <div class="team-member">
                <img src="https://img.freepik.com/vector-premium/kawaii-abogado-ilustracion-fondo-rojo_942932-10.jpg" alt="Ilustración kawaii de un abogado" class="team-image">
                <p>Mario Magaña Aballay es abogado de la Universidad de los Andes, se ha especializado en derecho inmobiliario, derecho penal económico, ambiental y litigación.</p>
            </div>
            <div class="team-member">
                <img src="https://img.freepik.com/vector-premium/kawaii-abogado-ilustracion-fondo-rojo_942932-10.jpg" alt="Ilustración kawaii de un abogado" class="team-image">
                <p>Claudio Reyes Miranda es abogado de la Universidad Miguel de Cervantes, cuenta con vasta experiencia en derecho laboral, derecho de familia y derecho del consumidor.</p>
            </div>
        </div>
    </main>
    

    <footer>
        <div class="footer-content">
            <div class="whatsapp-icon">
                <img src="../imgs/whatsapp-brands-solid.svg" alt="" srcset="">
            </div>
            <p>CERCANÍA, CONFIANZA Y COMPRENSIÓN</p>
        </div>
    </footer>

    <script src="./homescripts.js"></script> <!-- Asegúrate de que esta ruta esté correcta -->
</body>
</html>