body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: white;
    border-bottom: 1px solid #ddd;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #a30000;
    padding: 15px 0;
    display: block;
}

nav ul li a.active {
    border-bottom: 3px solid #a30000;
}

.mision {
    display: flex;
    align-items: center;
    justify-content:start;
    /* gap: 20px; */
    /* max-width: 500px; */
    margin: 0 auto;
}

.mision-image {
    width: 20%;
    height: 50%;
    flex-shrink: 0;
    margin-left: 5%;
}

.text-MISION {
    margin-right: 10px;
    margin-left: 10px;
    flex: 1;
    font-size: 22px;
}



.footer-content {
    background-color: #a30000;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content .whatsapp-icon {
    width: 30px;
    height: 30px;
    background: url('../img/whatsapp-icon.png') no-repeat center; /* Asegúrate de que esta ruta esté correcta */
    background-size: contain;
    margin-right: 10px;
}
