<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Misión y Visión</title>
    <link rel="stylesheet" href="../misionAndVision/misionStyle.css"> <!-- Asegúrate de que esta ruta esté correcta -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../home/home.html">Inicio</a></li>
                <li><a href="../about/about.html" >Equipo</a></li>
                <li><a href="../misionAndVision/missionAndVision.html" class="active">Misión y Visión</a></li>
                <li><a href="../practiced/practiced.html">¿Qué hacemos?</a></li>
                <li><a href="../notices/notices.html">Noticias</a></li>
                <li><a href="../others/others.html">Misceláneos</a></li>
                <li><a href="../contact/contact.html">Contáctanos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="mision">
            <img src="https://img.freepik.com/foto-gratis/vision-escalas-justicia-3d_23-2151228118.jpg?w=360&t=st=1724646222~exp=1724646822~hmac=db2bbcf2003355ac9a8d4197e31744aab3ca323959e1975fe633fe0f10eb9c29" alt="Estatua de la Justicia" class="mision-image">
            <p class="text-MISION">
                MAGAÑA Y REYES ABOGADOS NACE EN 2024 CON LA INTENCIÓN DE ACERCAR EL DERECHO A LAS PERSONAS EN UN COMIENZO AL SECTOR SUR DE SANTIAGO, EL CUAL HISTÓRICAMENTE HA TENIDO UN DÉFICIT DE ABOGADOS DE CALIDAD EN SU SECTOR. <br><br>
                POSTERIOR, AMPLIAMOS NUESTROS SERVICIOS A REGIONES, QUE TAMBIÉN TIENEN FALTA DE PROFESIONALES ESPECIALIZADOS. <br><br>
                BUSCAMOS APORTAR AL ACCESO A LA JUSTICIA DE AQUELLOS QUE MÁS LO NECESITEN, CON UN TRABAJO CERCANO, CONFIABLE Y SOBRE TODO COMPRENSIVO CON LAS NECESIDADES Y CAPACIDADES DE LAS PERSONAS.
            </p>
        </div>
    </main>
    

    <footer>
        <div class="footer-content">
            <div class="whatsapp-icon"></div>
            <p>CERCANÍA, CONFIANZA Y COMPRENSIÓN</p>
        </div>
    </footer>

    <script src="./homescripts.js"></script> <!-- Asegúrate de que esta ruta esté correcta -->
</body>
</html>
